/* CSS reset */
html, body {
	padding: 0px;
	margin: 0px;
	border: 0px;
}


#header {
	height: 90px;
	background: #005680 url('../img/bg-header.jpg') no-repeat center;
}

#header .inner {
	width: 1024px;
	margin: auto;	
	padding-top: 15px;
}

#top-navigation {
	
}

#center {	
	
}

#footer {
	height: 100px;
	background: #005680;
	position: absolute;
	bottom: 0px;
	width: 100%;
}

#logo {
	float: left;
}


#search {
	float: right;	
	margin-top: 20px;
}

#search input {
	border: 1px solid #666;
	height: 26px;
	border-radius: 10px;
	padding-left: 5px;
	outline: none;
}


