/* CSS reset */
html, body {
	padding: 0px;
	margin: 0px;
	border: 0px;
}


#header {
	height: 90px;
	background: #005680 url('../img/bg-header.jpg') no-repeat center;
}

#header .inner {
	width: 1024px;
	margin: auto;	
	padding-top: 15px;
}

#top-navigation {
	
}

#center {	
	
}

#footer {
	height: 100px;
	background: #005680;
	position: absolute;
	bottom: 0px;
	width: 100%;
}
