<?xml version="1.0" encoding="UTF-8"?>
<menu>
	<mainMenu title="cadastroServlet">
		<topItems>
			<item title="hello" url="hello"/>
			<item title="jogos" url="jogos"/>
			<item title="desenvolvedoras" url="desenvolvedoras"/>
		</topItems>
	</mainMenu>
	
	<mainMenu title="cadastroStruts">
		<topItems>
			<item title="jogos" url="struts/Jogos.action"/>
			<item title="desenvolvedoras" url="struts/Desenvolvedoras.action"/>
			<item title="plataformas" url="struts/Plataformas.action"/>
			<item title="fabricantes" url="struts/Fabricantes.action"/>
			<item title="pedidos" url="struts/Pedidos.action"/>
		</topItems>
	</mainMenu>

	<mainMenu title="cadastroTWF">
		<topItems>
			<item title="jogos" url="Jogos.action"/>
			<item title="desenvolvedoras" url="Desenvolvedoras.action"/>
			<item title="plataformas" url="Plataformas.action"/>
			<item title="fabricantes" url="Fabricantes.action"/>
			<item title="pedidos" url="Pedidos.action"/>
		</topItems>
	</mainMenu>

	<mainMenu title="cadastroCrud">
		<topItems>
			<item title="jogos" url="crud/Jogo.action"/>
			<item title="desenvolvedoras" url="crud/Desenvolvedora.action"/>
			<item title="plataformas" url="crud/Plataforma.action"/>
			<item title="fabricantes" url="crud/Fabricante.action"/>
			<item title="pedidos" url="crud/Pedido.action"/>
		</topItems>
	</mainMenu>
</menu>
